lecture1.aux
lecture1.fdb_latexmk
lecture1.fls
lecture1.log
lecture1.nav
lecture1.out
lecture1.pdf
lecture1.snm
lecture1.synctex.gz
lecture1.toc
lecture1.vrb
lecture2.aux
lecture2.fdb_latexmk
lecture2.fls
lecture2.log
lecture2.nav
lecture2.out
lecture2.pdf
lecture2.snm
lecture2.synctex.gz
lecture2.toc
lecture2.vrb
